# Dependency directories
node_modules/
jspm_packages/

# Distribution files
dist/
build/
out/
bundle.js
bundle.min.js

# Logs and databases
*.log
*.sqlite
*.db

# Debugging files
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.remote
.env.local

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity